@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    background-color:var(--bg-secundario);
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--c-secundario);
    border-radius: 10px;
}
:root{
    --c-primario:#b60300;
    --c-secundario:#104789;
    --c-terciario:#EC9B3B;
    --c-cuarto:#B4B4B8;
    --bg-primario:#F9F9F9;
    --bg-secundario:#000b20;
    --font-primaria: "Raleway", sans-serif;;
    --font-secundaria: "Montserrat", sans-serif;
    --fz-title:3.5rem;
    --fz-subtitle:2rem;
    --fz-parrafo:1rem;
    --wd-whatsap:80px;
}
@media (max-width:760px) {
    :root{
        --fz-title:2.2rem;
        --fz-subtitle:1.5rem;
        --fz-parrafo:1rem;
        --wd-whatsap:70px;

    }
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
body{
    position: relative;
}
.whatsapp-icon{
    position: fixed;
    z-index: 1111111;
    bottom: 30px;
    right: 20px;
}
.whatsapp-icon img{
    width:var(--wd-whatsap);
    filter:drop-shadow( 5px 10px 10px rgba(0, 0, 0, 0.26));
}
.btn-hover{
    cursor: pointer;
}
.btn-hover:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px #0073ff2d;
}