body{
    position: relative;
}
/*banner style*/
.catalogo-banner{
    max-width: 100vw;
    overflow: hidden;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: center;
}
.catalogo-banner__img{
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    position: absolute;
    filter: brightness(0.2);
}
.catalogo-banner__img img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}
.catalogo-banner__text{
    z-index: 1;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.catalogo-banner__text h2{
    font-size: var(--fz-subtitle);
    font-family: var(--font-primaria);
    font-weight: 500;
}
.catalogo-banner__text h2 em{
    display: block;
    font-weight: 800;
    color: var(--c-terciario);
    text-shadow: 0px 0px 10px #ff9e286b;
}

/*product nav style*/
.catalogo-products{
    max-width: 100%;
    padding: 20px 10px;
    display: flex;
}
.catalogo-products__nav{
    width: 200px;
    bottom: 20px;
    position: fixed;
    z-index: 1111;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    transition: clip-path 0.3s ease-in;
    clip-path: circle(60% at 1% 98%);
    padding: 10px;
    border-radius: 10px;
}
.nav__active{
    clip-path: circle(139.2% at 1% 98%);
    background-color: var(--bg-primario);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
}
.catalogo-products__nav-btn{
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    border-radius: 100%;
    background-color: var(--c-primario);
    display: flex;
    text-align: center;
}
.catalogo-products__nav-btn img{
    width: 70%;
    margin: auto;
}
.catalogo-products__nav-content{
    width: 200px;
    height: 400px;
    display: none;
    flex-direction: column;
    gap:20px;
    align-items: start;
    z-index: 111;
    top: -400px;
}
.nav__active .catalogo-products__nav-content{
    display: flex;
}
.nav-content__item li{
    font-size: 20px;
    font-family: var(--font-primaria);
    color: var(--bg-secundario);
    font-weight: 600;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
}

/*product*/
.catalogo-products__content-product{
    text-align: center;
    padding: 10px 20px 120px 20px;
}
.catalogo-products__content-product h2{
    font-size: var(--fz-title);
    margin: 20px 10px;
    font-family: var(--font-primaria);
    color: var(--bg-primario);
    border: 1px solid rgba(0, 0, 0, 0.164);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--c-primario);
}
.content-product__items-product{
    width: 200px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    transform: scale(0);
    animation: itemsProduct 0.5s ease-in  forwards;

}
@keyframes itemsProduct {
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}
.content-product__items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.items-product__img{
    flex-basis: 50%;
    text-align: center;
}
.items-product__img img{
   width: 90%;
   object-fit: cover;
}
.items-product__title{
    font-size: 13px;
    font-family: var(--font-secundaria);
    color: var(--c-secundario);
    font-weight: 500;
}
.items-product__btn{
    padding: 3px 20px;
    border: none;
    background-color:var(--c-terciario);
    color: var(--bg-primario);
    font-size: 15px;
    font-weight: 600;
    font-family: var(--font-secundaria);
    margin-top:5px ;
}