.product-hot{
    width: 100%;
    background-color:var(--bg-primario);
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.product-hot__info-text{
width: 80%;
text-align: center;
margin-bottom: 40px;
}
.product-hot__title{
    font-size:var(--fz-title);
    font-family: var(--font-primaria);
    color: var(--bg-secundario);
    margin: 15px;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.171);
}
.product-hot__title span{
    color: var(--c-primario);
    font-weight: 800;
}
.product-hot__description{
    font-family:var(--font-secundaria);
    font-size:var(--fz-parrafo);
    color:var(--bg-secundario);
}
.product-hot-content{
    margin: auto;
    width: 80%;
    max-width: 1000px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.377);
    background:var(--bg-secundario);
}
.product-hot__img{
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    flex-grow: 1;
    background: linear-gradient(135deg, #f3f3f3 25%, transparent 25%) -50px 0,
                        linear-gradient(225deg, #f3f3f3 25%, transparent 25%) -50px 0,
                        linear-gradient(315deg, #f3f3f3 25%, transparent 25%),
                        linear-gradient(45deg, #f3f3f3 25%, transparent 25%);
                        background-color:#dbdbdb;
    background-size: 100px 100px;
}
.product-hot__img img{
    width: 70%;
    max-width: 300px;
    border-radius: 10px;
}
.product-hot__info{
    flex-grow: 1;   
    height: 100%;
    padding: 10px;
}
.product-hot__img-title{
    font-size:1.5rem;
    text-transform: uppercase;
    font-family: var(--font-primaria);
    color: var(--bg-primario);
}
.product-hot__info-details h4{
    font-size: var(--fz-parrafo);
    font-family: var(--font-secundaria);
    margin-top: 10px;
    color: var(--c-terciario);
}
.product-hot__info-details span{
    font-family: var(--font-secundaria);
    color: var(--c-cuarto);
}
.product-hot__info-btn button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: var(--bg-primario);
    background-color: var(--c-primario);
    font-family: var(--font-primaria);
    font-size: var(--fz-parrafo);
    margin-top: 20px;
    font-weight: 700;
}
.product-hot__btn{
    position: absolute;
    width: 100%;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.product-hot__btn button{
    width: 40px;
    height: 80px;
    border-radius: 10px;
    border: none;
    background-color: var(--c-cuarto);
    color: var(--bg-primario);
    font-size: 30px;
}
.product-hot__btn button:hover{
    background-color: var(--c-primario);
}