.product-hot{
    width: 100%;
    background-color:var(--bg-primario);
    padding: 10px;
    position: relative;
    z-index: 1111;
}
.product-hot__info-text{
width: 80%;
text-align: center;
margin-bottom: 40px;
margin: auto;
}
.product-hot__title{
    font-size:var(--fz-title);
    font-family: var(--font-primaria);
    color: var(--bg-secundario);
    margin: 15px;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.068);
}
.product-hot__title span{
    color: var(--c-primario);
    font-weight: 800;
}
.product-hot__description{
    font-family:var(--font-secundaria);
    font-size:var(--fz-parrafo);
    color:var(--bg-secundario);
    font-weight: 500;
}
.product-hot-conteiner{
  overflow-x: scroll;
  margin: auto;
  padding: 20px;
}

.product-hot-content{
    display: grid;
    grid-template-columns: repeat(10,300px);
    gap: 20px;
}
.product-hot__card{
    min-width: 300px;
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid rgb(234, 233, 233);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.073);
    overflow: hidden;
}
.product-hot__img{
    max-height: 200px;
    min-height: 200px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}
.rotar{
    max-height: 300px;
    object-fit: contain;
}
.product-hot__img img{
    width: 70%;
    max-width: 300px;
}
.product-hot__info{
    height: 100%;
    padding: 10px;
}
.product-hot__img-title{
    font-size:1rem;
    text-transform: uppercase;
    font-family: var(--font-secundaria);
    color: var(--c-secundario);
}
.product-hot__info-details h4{
    font-size: var(--fz-parrafo);
    font-family: var(--font-primaria);
    margin-top: 10px;
    color: var(--bg-secundario);
}
.product-hot__info-details span{
    font-family: var(--font-primaria);
    color: var(--c-cuarto);
}
.product-hot__info-btn button{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: var(--bg-primario);
    background-color: var(--c-primario);
    font-family: var(--font-primaria);
    margin-top:20px ; 
    font-weight: 700;
    cursor: pointer;
}

.product-hot-conteiner::-webkit-scrollbar{
    display: none;
    background-color:var(--bg-secundario);
    width: 8px;
    height: 8px;
    background-color: transparent;
}
.product-hot-conteiner::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.203);
    border-radius: 10px;
}
.product-hot__btn{
    text-align: center;
}
.product-hot__btn button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    outline: none;
    color: var(--bg-primario);
    background-color: var(--c-secundario);
    margin: 0px 5px;
    font-size: 15px;
    cursor: pointer;
}