.shipping-info{
    overflow: hidden;
    max-width: 100%;
    display: flex;
    padding:50px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    background-color: var(--bg-secundario);
}
.shipping-info__text{
  max-width: 430px;
  padding: 10px;
  position: relative;
}
.shipping-info__text-title{
    font-size: 2rem;
    font-family: var(--font-primaria);
    font-weight: 700;
    color: var(--bg-primario);
    text-transform:capitalize;
}
.shipping-info-text-subtitle{
    font-size: 1.3rem;
    font-family: var(--font-primaria);
    color: var(--c-terciario);
    letter-spacing: 2px;
    text-transform:uppercase;
}
.shipping-info__text-paragraph{
    font-size: 1.1rem;
    font-family: var(--font-secundaria);
    font-weight: 500;
    color: var(--bg-primario);
    margin: 15px 0px;
}
.shipping-info-btn{
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    color:var(--bg-primario);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--font-primaria);
    background-color: red;
}

.shipping-info__img{
    width: 700px;
    height:auto;
    padding-bottom: 50px;
}
.shipping-info__img-imagen{
    width: 100%;
}
.shipping-wave{
    position: absolute;
    bottom: -20px;
}