.shipping-info{
    overflow: hidden;
    background-color: var(--bg-primario);
    max-width: 100vw;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 100px;
}
.shipping-info__text{
  max-width: 430px;
  min-width: 430px;
  padding: 10px;
  position: relative;

}
.shipping-info::after{
    content: "";
    width: 100px;
    height: 100px;
    border-radius:100%;
    background-color:var(--c-secundario);
    position: absolute;
    left: 5px;
    bottom:0px;
    z-index: 1;
}
.shipping-info__text-title{
    font-size: 2rem;
    font-family: var(--font-primaria);
    font-weight: 700;
    color: var(--bg-secundario);
    text-transform:capitalize;
}
.shipping-info-text-subtitle{
    font-size: 1.3rem;
    font-family: var(--font-primaria);
    color: var(--c-secundario);
    letter-spacing: 2px;
    text-transform:uppercase;
}
.shipping-info__text-paragraph{
    font-size: 1.1rem;
    font-family: var(--font-secundaria);
    font-weight: 500;
    color: var(--c-cuarto);
    margin: 15px 0px;
}
.shipping-info-btn{
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--c-primario);
    color:var(--bg-primario);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--font-primaria);
}

.shipping-info__img{
    position: relative;
    width: 500px;
    height: 500px;
}
.shipping-info__img-figure{
   width: 600px;
   height: 600px;
   background-color: var(--c-primario);
   position: absolute;
   right: -240px;
   top: -120px;
   border-radius:100%;
   z-index: 11;
}
.shipping-info__img::after{
    content: "";
    width: 100px;
    height: 100px;
    border-radius:100%;
    background-color:var(--c-terciario);
    position: absolute;
    right: 320px;
    top: 40px;
    z-index: 1;
}
.shipping-info__img-imagen{
    width: 550px;
    position: absolute;
    right:200px;
    bottom: -50px;
  
}