.slider{
    max-width: 100vw;
    height: auto;
    max-height: 600px;
    position: relative;
    overflow: hidden;
}
.slider__controls{
    width: 100vw;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 1111;
}
.slider__control{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
    background-color: var(--bg-primario);
}
.control__active{
    background-color:var(--c-primario);
    border: 2px solid var(--bg-primario);
}
.slider__slides{
    width: 100%;
    min-height: 500px;
    height: auto;
    display: flex;
    transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.slider__slide{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    background-color: red;
}
.slider__slide img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    aspect-ratio: 16/5;
}

/*estoy trabajando con la edicion del banner para optener el tama;o indicado para el mismo*/